<div class="author">
    <h1 class="author_heading">Welcome to Elif's Software World</h1>
    <p class="author_body">React, React Native, NodeJs, MongoDB</p>
</div>
  
<img src="/img/cat.jpeg" class="developer-image" width="750" height="500">
  
<section class="articles">
    <h2 class="articles__heading">Son Postlar</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
            <span>Post Başlık</span>
            <span class="article-list_date">Post Tarihi</span>
            </a>
        </li>
        
    </ul>

    <a href="#" class="pagination">&lt; Daha Eski Postlar</a>

</section>
</section>